.main {
    display: -webkit-box;
    display: flex;
    height: 90vh;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 5vh;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  

    .menu,
    .order,
    .inventory {
        //flex: 1 4 auto;
        padding: 2rem;
        border: 1rem double #1a1a1a;
        position: relative;
        background: #fff;
        -webkit-transition: all .3s;
        transition: all .3s;
        box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
        overflow-y: scroll;
        &::-webkit-scrollbar {width: 0;}
        scroll-behavior: auto;
    }
}

.menu {
    margin-left: 2.7rem;
    flex-shrink: 1;
    flex-basis: 50%;
    -webkit-transform: translateX(50%) rotateY(6deg) translateX(-50%);
            transform: translateX(50%) rotateY(6deg) translateX(-50%);
    header {
        text-align: center;
        font-size: 2rem;

    }

    .top {
        
        h1 {
            height: 105px;
            line-height: 0.7;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            .ofThe {
                font-size: 3rem;
                color: #f5a623;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                background: url("https://catchoftheday.wesbos.com/static/media/anchor.d2f8799a.svg")  center no-repeat;
                background-size:cover;
                padding: 0 1rem;

                .of {
                    padding-right: 2rem;
                    position: relative;
                    right: -0.5rem;
                }

            }
        }

        h3{
            margin: 0;
            font-size: 2rem;
            color: #f5a623;
            position: relative;
            display: inline-block;
        
            span{
                background: #fff;
                position: relative;
                z-index: 2;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        &::after ,::before {
            display: block;
            z-index: 1;
            background: #000;
            position: absolute;
            width: 130%;
            height: 1px;
            content: '';
            top: 5px;
            margin-left: -15%;
        }

        &::after{
            top: auto;
            bottom: 7px;
        }
        }



    }

    ul{
        border-top: 2px solid #000;
        border-bottom: 1px solid #000;
        padding-top: 5px;
        margin-top: 2rem;
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        .menu-fish{
            border-bottom: 2px solid #000;
            border-top: 1px solid #000;
            padding-bottom: 2rem;
            padding-top: 2rem;
            margin-bottom: 5px;
            clear: both;
            overflow: hidden;

            p{
                margin: 0;
                font-size: 1.2rem;
            }

            .fish-name{
                margin: 0;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                        align-items: center;
            }
            .price{
                font-size: 1.2rem;
                -webkit-box-pack: end;
                justify-content: flex-end;
            }
            img{
                float: left;
                width: 150px;
                margin-right: 1rem;
            }
            button{
                text-transform: uppercase;
                background: none;
                border: 1px solid #000;
                font-weight: 600;
                padding: 3px;
                font-size: 0.8rem;
                font-family: Open Sans;
                -webkit-transition: all .2s;
                transition: all .2s;
                position: relative;
                z-index: 2;
                cursor: pointer;
            &:hover{
                background-color: #000;
                color: white;
                
            }
            &:disabled{
                cursor:not-allowed;
                background-color: white;
                color: #d12028;
            }
            }
            .soldout-btn{
   
                color: #d12028;
                background-color: #fff;
                border-color: #d12028;
                transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
               
            }
            
        }
    }



}

